body{
	background-color: black;
}
#container{
	width: 80%;
	margin-left: 7%; 
	margin-top: 13%;
}
#data{
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	padding-top: 30px;
	color: #999;
	text-align: center;
}